:root {
  --extra-bright-additional: #ff2f64;
  --extra-dark-main: #2d3440;
  --extra-light-main: #fcfcfc;
  --extra-light-additional: #ffcbd8;
  --light-additional: #feafc3;
  --dark-main: #565c66;
  --neutral-additional: #ff7799;
  --white-main: #ffffff;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--extra-dark-main);
  background-color: var(--light-additional);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.button-main {
  color: inherit;
  background-color: var(--extra-light-main);
}

.button-additional {
  color: var(--extra-light-main);
  background-color: var(--extra-bright-additional);
}

.button-filter {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  background-color: var(--extra-light-additional);
}

.button-social,
.pagination-link,
.add-button {
  color: inherit;
  text-decoration: none;
}

.navigation-link,
.header-phone {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.header-phone {
  font-weight: 700;
}

.navigation-user .navigation-link {
  font-size: 14px;
  line-height: 20px;
}

.slider-item-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
}

.gifts-title,
.popular-title,
.advantages-title,
.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.gifts-list {
  background-color: var(--neutral-additional);
}

.gifts-item-title,
.news-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.popular-item-title,
.popular-price,
.product-item-title,
.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popular-item-text,
.advantages-item-text,
.news-text,
.newsletter-text,
.delivery-text,
.delivery-form-text,
.feedback-about-text,
.feedback-signature,
.product-item-text {
  color: var(--dark-main);
}

.popular-item,
.product-item {
  background-color: var(--extra-light-main);
}

.news-text,
.feedback-signature {
  line-height: 20px;
}

.advantages {
  background-image: url("../images/background/background-advantages.png");
}

.advantages-wrapper {
  background-color: var(--white-main);
}

.news-blog-wrapper {
  background-image: url("../images/background/background-news.jpg");
}

.newsletter-wrapper {
  background-image: url("../images/background/background-mail.png");
}

.newsletter-form {
  background-color: var(--white-main);
}

.delivery {
  background-image: url("../images/background/background-delivery.jpg");
}

.delivery-form {
  background-color: var(--extra-light-main);
}

.form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.feedback-main-wrapper {
  background-image: url("../images/background/background-feedback.jpg");
}

.feedback-wrapper {
  font-style: normal;
  background-color: var(--extra-light-main);
}

.feedback-address-text,
.feedback-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.feedback-signature {
  font-size: 14px;
  line-height: 20px;
}

.feedback-phone,
.footer-menu-link,
.htmlacademy-link,
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.heart,
.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.footer-menu-link,
.catalog-filter,
.pagination-link {
  font-size: 14px;
  line-height: 20px;
}

.footer-about-text {
  font-size: 12px;
  line-height: 16px;
}


.pagination-link {
  font-size: 16px;
  line-height: 20px;
}

.pagination-current {
  background-color: var(--extra-light-main);
}
